version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: tasktrackerpro
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  app:
    image: openjdk:21-jdk
    container_name: spring_app
    volumes:
      - ./target:/app
    working_dir: /app
    command: ["java", "-jar", "your-app.jar"]
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
